.customer-change-div{
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  max-width: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 25%; 
  background-color: white;
}
.customer-change-div>form{

}