.div-admin-change{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 25%;
  gap: 2px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 200px;
  
}


.changepassword-input-div{
  display: flex;
}

.div-admin-change>form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}