.div-agentview{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    color: white;  
}
.page-size-dropdown{
    /* display: fl; */
    margin-right: 1100px

}

